@{
    ViewData["Title"] = "Home Page";
}

@{
    if (TempData["ErrorMsg"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["ErrorMsg"].ToString()
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<div class="text-center">
    <div class="main-content">
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">

                <h2 class="text-white">Task Mangment System</h2>
                <h6 class="mb-5 text-white">Where all of your task's are neatly ocd'd</h6>

                <div class="header-body text-center">
                    <div class="row">

                        @*some statisitics about the site*@
                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">No. Projects</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewData["NoOfProjects"]</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon text-white">
                                                <i class="fas fa-chart-bar"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">No. Tasks</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewData["NoOfTasks"]</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon text-white">
                                                <i class="fas fa-chart-pie"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">No. Users</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewData["NoOfUsers"]</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon text-white">
                                                <i class="fas fa-users"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">No. Comments</h5>
                                            <span class="h2 font-weight-bold mb-0">@ViewData["NoOfComs"]</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon text-white">
                                                <i class="fa-solid fa-comment"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

