@model advProj_BusinessObjects.AdvProjLog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AdvProjLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionMsg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionMsg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
