@using advProj_WebProjectManager.ViewModels;
@model ProjectTasksViewModel
@*using the viemodel craeted*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Project: @Model.Project.ProjectName Tasks</h1>

@*error msg *@
@{
    if (TempData["ErrorMsg"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["ErrorMsg"].ToString()
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<div class="header-body">
    <div class="row">

        @*some statisitics about the site*@
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">No. Tasks</h5>
                            <span class="h2 font-weight-bold mb-0">@ViewData["NoOfTasks"]</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon text-white">
                                <i class="fas fa-chart-bar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Overdue Tasks</h5>
                            <span class="h2 font-weight-bold mb-0">@ViewData["OvrdTasks"]</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon text-white">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Completed Tasks</h5>
                            <span class="h2 font-weight-bold mb-0">@ViewData["CmpltTasks"]</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon text-white">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Completed Tasks </h5>
                            <span class="h2 font-weight-bold mb-0">@ViewData["CmpltPrsnt"]%</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon text-white">
                                <i class="fas fa-percent"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*search form*@
<div class="d-flex align-items-center justify-content-center flex-column gap-4">
    <form asp-controller="advProjTasks" asp-action="Index" method="get" class="d-flex">
        @*search box for Task name*@
        <div class="input-group m-1">

            @*show clear button when there is a search input only*@
            @{
                if (!String.IsNullOrEmpty(Context.Request.Query["TaskName"].ToString()))
                {

                    if (String.IsNullOrEmpty(Context.Request.Query["member"].ToString()))
                    {
                        <a asp-action="Index" asp-route-id="@Model.Project.ProjectId" class="input-group-text text-decoration-none">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                    }
                    else if (!String.IsNullOrEmpty(Context.Request.Query["all"].ToString()))
                    {
                        <a asp-action="Index" asp-route-id="@Model.Project.ProjectId" asp-route-all="true" class="input-group-text text-decoration-none">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-id="@Model.Project.ProjectId" asp-route-member="true" class="input-group-text text-decoration-none">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                    }
                }
            }
            @*text box input*@
            <div class="form-floating">
                <input type="text" name="TaskName" class="form-control" id="TaskName" placeholder="Task Name" value="@Context.Request.Query["TaskName"]">
                <label for="ProjectName">Task Name</label>
            </div>
            @*submit button*@
            <button type="submit" value="Search" class="input-group-text">
                <i class="fas fa-search"></i>
            </button>

        </div>
        @*combo box for projects*@
        <div class="input-group m-1">
            @*show clear button when there is a search input only*@
            @{
                if (!String.IsNullOrEmpty(Context.Request.Query["StatusInput"].ToString()))
                {
                    if (String.IsNullOrEmpty(Context.Request.Query["member"].ToString()))
                    {
                        <a asp-action="Index" asp-route-id="@Model.Project.ProjectId" class="input-group-text text-decoration-none">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                    }
                    else if (!String.IsNullOrEmpty(Context.Request.Query["all"].ToString()))
                    {
                        <a asp-action="Index" asp-route-id="@Model.Project.ProjectId" asp-route-all="true" class="input-group-text text-decoration-none">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-route-id="@Model.Project.ProjectId" asp-route-member="true" class="input-group-text text-decoration-none">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                    }
                }

            }
            @*combo box*@
            <div class="form-floating">
                <select asp-for="StatusInput" asp-items="Model.Status.Select(i => new SelectListItem{Text = i.StatusName, Value = i.StatusId.ToString()})" class="form-control">
                    <option value="">All</option>
                </select>
                <label for="ProjectName">Status</label>
            </div>
            @*filter btn*@
            <button type="submit" value="Search" class="input-group-text">
                <i class="fa-solid fa-filter"></i>
            </button>



        </div>
        @*hidden value as a member so the page dosent change - if the user is acsing a mebmer page*@
        @{
            if (!String.IsNullOrEmpty(Context.Request.Query["member"].ToString()))
            {
                <input type="hidden" name="member" value="true">
            }
        }
    </form>
</div>


@*dont enable the create button if not a project manager*@
@{
    if (String.IsNullOrEmpty(Context.Request.Query["member"].ToString()) && String.IsNullOrEmpty(Context.Request.Query["all"].ToString()))
    {
        <p>
            <a asp-action="Create" asp-route-id="@Model.Project.ProjectId" class="btn btn-primary">Create a New Task</a>
        </p>
    }
}

@*button to show all tasks for memebr*@
@{
    if (!String.IsNullOrEmpty(Context.Request.Query["member"].ToString()))
    {
        <p>
            <a asp-action="Index" asp-route-all="true" class="btn btn-primary">View All</a>
        </p>
    }
}


@{
    if (Model.projTasks.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    @*writing the names manually - ocd reasosns*@
                    <th class="text-center">
                        Task Name
                    </th>
                    <th class="text-center">
                        Description
                    </th>
                    <th class="text-center">
                        Start Date
                    </th>
                    <th class="text-center">
                        End Date
                    </th>
                    <th class="text-center">
                        Status
                    </th>
                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.projTasks)
                {
                    string formatClass = "";

                    if (item.Status != null)
                    {
                        if (item.Status.StatusId == 3)
                        {
                            formatClass = "table-warning";
                        }
                        else if (item.Status.StatusId == 4)
                        {
                            formatClass = "table-secondary";
                        }
                        else if (item.Status.StatusId == 5)
                        {
                            formatClass = "table-success";
                        }
                    }

                    <tr class="@formatClass">
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Status.StatusName)
                        </td>
                        <td class="text-center">

                            @{
                                if (!String.IsNullOrEmpty(Context.Request.Query["all"].ToString()))
                                {
                                    <a type="button" class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@Model.Project.ProjectId" asp-route-tid="@item.TaskId" asp-route-member="true" asp-route-all="true" asp-route-pid="@Model.Project.ProjectId"><i class="fa-solid fa-circle-info fa-xs"></i></a>
                                }
                                else
                                {
                                    if (!String.IsNullOrEmpty(Context.Request.Query["member"].ToString()))
                                    {
                                        <a type="button" class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@Model.Project.ProjectId" asp-route-tid="@item.TaskId" asp-route-member="true" asp-route-pid="@Model.Project.ProjectId"><i class="fa-solid fa-circle-info fa-xs"></i></a>
                                        <a type="button" class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@Model.Project.ProjectId" asp-route-tid="@item.TaskId" asp-route-member="true" asp-route-pid="@Model.Project.ProjectId"><i class="fa-solid fa-pen-to-square fa-xs"></i></a>
                                    }
                                    else
                                    {
                                        <a type="button" class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@Model.Project.ProjectId" asp-route-tid="@item.TaskId" asp-route-pid="@Model.Project.ProjectId"><i class="fa-solid fa-circle-info fa-xs"></i></a>
                                        <a type="button" class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@Model.Project.ProjectId" asp-route-tid="@item.TaskId" asp-route-pid="@Model.Project.ProjectId"><i class="fa-solid fa-pen-to-square fa-xs"></i></a>
                                        <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@Model.Project.ProjectId" asp-route-tid="@item.TaskId" asp-route-pid="@Model.Project.ProjectId"><i class="fa-solid fa-trash fa-xs"></i></a>
                                    }
                                    <a type="button" class="btn btn-info btn-sm" asp-controller="AdvProjComments" asp-action="Index" asp-route-tid="@item.TaskId"><i class="fa-solid fa-comment fa-xs"></i></a>
                                    <a type="button" class="btn btn-warning btn-sm" asp-controller="AdvProjDocuments" asp-action="Index" asp-route-tid="@item.TaskId"><i class="fa-solid fa-file fa-xs"></i></a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No Data Is Present</h1>
    }
}

