@model advProj_BusinessObjects.AdvProjDocument

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AdvProjDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentExt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task.TaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
