@model IEnumerable<advProj_BusinessObjects.AdvProjDocument>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-tid="@Context.Request.Query["tid"]" class="btn btn-primary">Add a new Document</a>
</p>

    
    @{
        if (Model.Count() != 0)
        {
            
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentDescription)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
    </thead>
            <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.DocumentDescription)
            </td class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td class="text-center">
                    <a type="button" class="btn btn-primary btn-sm" href="@item.DocumentPath"><i class="fa-solid fa-eye fa-xs"></i></a>
                    @{
                        if (Global.userID == item.User.UserId)
                        {
                            <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.DocumentId" asp-route-tid="@Context.Request.Query["tid"]"><i class="fa-solid fa-trash fa-xs"></i></a>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
    </table>
        }
        else
        {
            <h1>No Data Is Present</h1>
        }
    }

