@model IEnumerable<advProj_BusinessObjects.AdvProjAudit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>



@{
    if (Model.Count() != 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.AuditSource)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ChnageType)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.EntityName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.RecordId)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.AuditSource)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ChnageType)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.EntityName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.RecordId)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td class="text-center">
                            <a type="button" class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.AuditId"><i class="fa-solid fa-circle-info fa-xs"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No Data Is Present</h1>
    }
}

